<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eagle Eye</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <header>
    <img src="../static/images/logo3.png" alt="Eagle Eye">

    <div id="my-buttons">
      <button>Start</button>
      <button>Stop</button>
      <button>Reports</button>
      <button>Alerts</button>
      <button>Log Activity</button>
    </div>
  </header>

  <div id="main">
    <div id="my-content">
      <h3>Horizontal Layout</h3>
      <div>
        <div id="attack-card">
          <h4>New Incidents</h4>
          <div id="img-box">
            <img src="../static/images/1.png" alt="Hacker Img">
          </div>

          <div id="text-box">
            <p id="num"><strong>8650</strong></p>
            <p id="my-text">Attacks Today</p>
          </div>

        </div>
        <div id="attack-card">
          <h4>Network Attacks</h4>
          <div id="img-box">
            <img src="../static/images/2.png" alt="Network Image">
          </div>

          <div id="text-box">
            <p id="num"><strong>250</strong></p>
            <p id="my-text">Attacks Today</p>
          </div>

        </div>
        <div id="attack-card">
          <h4>Web Attacks</h4>
          <div id="img-box">
            <img src="../static/images/3.png" alt="Web Image">
          </div>

          <div id="text-box">
            <p id="num"><strong>1450</strong></p>
            <p id="my-text">Attacks Today</p>
          </div>
        </div>
        <div id="attack-card1">
          <h4>Other Attacks</h4>
          <div id="img-box">
            <img src="../static/images/4.png" alt="Other Attacks">
          </div>

          <div id="text-box">
            <p id="num"><strong>5469</strong></p>
            <p id="my-text">Attacks Today</p>
          </div>
        </div>
      </div>
      <div>
        <div id="stats-card">
          <h4>Hunt Score Sumary</h4>
        </div>
        <div id="stats-card">
          <h4>Insights</h4>
        </div>
        <div id="stats-card1">
          <h4>Event Status</h4>
        </div>
      </div>


    </div>
  </div>

  <footer>
    <div class="copyrights">
      <script>document.write(new Date().getFullYear())</script> &copy; All rights reserved.
    </div>
    <div class="links">
      <a class="links" href="javascript:void(0);">About Us</a>
      <a class="links" href="javascript:void(0);">Help</a>
      <a class="links" href="javascript:void(0);">Contact Us</a>
    </div>

  </footer>
</body>

</html>